[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "==3.0.3"
flask-migrate = "==4.0.4"
python-dotenv = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.13"
